<h1>{{pageTitle}} [ {{stationId}} ]</h1>
This is the station page
<table class="table">
 
    <tr>
        <td>address</td>
        <td>{{station.address}}</td>
    </tr>
    <tr>
        <td>available bike stands</td>
        <td>{{station.available_bike_stands}}</td>
    </tr>
    <tr>
        <td>available bikes</td>
        <td>{{station.available_bikes}}</td>
    </tr>
    <tr>
        <td>banking</td>
        <td>{{station.banking}}</td>
    </tr>
    <tr>
        <td>bike stands</td>
        <td>{{station.bike_stands}}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{station.name}}</td>
    </tr>
</table>