<h1>Dublin Bike Stations</h1>
<p> Go the <a ng-href="#/home">Home Page</a></p>
<table class="table">

<tr ng-repeat="station in stations">
    
        <td>{{station.name}}</td> 
        <td> [{{station.position.lat}} </td> 
         <td>{{station.position.lng}}]</td>
         <td><a ng-href="#/station/{{station.number}}">View</a></td>
        
</tr>

</table>